*.gem
*.rbc
.bundle
.config
.yardoc
.rspec
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/account.yaml
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
